@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');

$fontPadrao: 'Roboto', sans-serif;
$fontTitulo: 'Poppins', sans-serif;


$colorElements: #4c9cef;
$colorNavHover: #4267b2;
$colorFontPadrao: black;
$colorFontFundo: white; 
$colorHomeFundo: #f1f1f1;
$colorAllFundo: white;
$colorBorder: #4267b2;

$pageSize: 650px;
$paddingBoot: 65px;

$borderPrimary: 3px solid  $colorBorder;
$borderSecondary: 1px solid  $colorBorder;

$boxMarginTitleTop: 20px;
$boxMarginTitleLeft: 40px;
$boxMarginTextLeft: 40px;
$boxMarginTextRight: 40px;
$boxMarginTextBot: 5px;
$boxHeight: 140px;

body {
    height: 100%;
    font-family: $fontPadrao;
    color: $colorFontPadrao;
}

.navbar {
    ul{
    list-style-type: none;
    overflow: hidden;
    background-color: $colorElements; 
    margin: 0px;
    padding: 0px;

        li {
            float: left;
        }
        
        li a {
            display: block;
            color: $colorFontFundo;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover:not(.active) {
            background-color: $colorNavHover;
        }
    }
}

.table {
    margin-bottom: 0px;
    border: $borderPrimary;

    tbody{
        tr{
            td{
                border: $borderSecondary;
            }
        }

        td:nth-child(1) {
            color: $colorFontPadrao;
        }

        td:nth-child(2) {
            color: $colorFontFundo;
            background: $colorElements;
            font-weight: bold;
        }
    }
}

.profile{
    margin-top: 8px;
    text-align: center;
    img{
        border: $borderPrimary;
    }
}

.home{
    background-color: $colorHomeFundo;
    height: $pageSize;

    .margin-top-150 {
        height: 150px;
    }
}

.formacao,
.experiencia,
.eventos,
.adicionais,
.contato
{
    height: $pageSize;
    background-color: $colorAllFundo;
    padding-top: $paddingBoot;

    h2,
    h4{
        font-family: $fontTitulo;
    }

    h2{
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        border-top: 2px dashed $colorBorder;
        border-bottom: 1px dashed $colorBorder;
        box-shadow: inset 0 -1px 0 0 $colorBorder, inset 0 1px 0 0 $colorBorder, 0 1px 0 0 $colorBorder, 0 -1px 0 0 $colorBorder;
    }

    .col-sm-6{
        .fundamental,
        .tecnico,
        .medio,
        .graduacao,
        .profissional,
        .conhecimentos{
            border-top-left-radius: 255px 15px;
            border-top-right-radius: 15px 225px;
            border-bottom-right-radius: 225px 15px;
            border-bottom-left-radius: 15px 255px;
        
            border: solid 7px $colorBorder;
            border-left-color: $colorElements;
            border-right-color: $colorElements;

            margin-top: 30px;

            min-height: $boxHeight;

            h4{
                margin-left: $boxMarginTitleLeft;
                margin-top: $boxMarginTitleTop;
                text-align: left;
                font-weight: bold;
            }
        
            p{
                margin-left: $boxMarginTextLeft;
                margin-right: $boxMarginTextRight;
                margin-bottom: $boxMarginTextBot;
            }        
        }
    }
}