@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: black; }

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #4c9cef;
  margin: 0px;
  padding: 0px; }
  .navbar ul li {
    float: left; }
  .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .navbar ul li a:hover:not(.active) {
    background-color: #4267b2; }

.table {
  margin-bottom: 0px;
  border: 3px solid #4267b2; }
  .table tbody tr td {
    border: 1px solid #4267b2; }
  .table tbody td:nth-child(1) {
    color: black; }
  .table tbody td:nth-child(2) {
    color: white;
    background: #4c9cef;
    font-weight: bold; }

.profile {
  margin-top: 8px;
  text-align: center; }
  .profile img {
    border: 3px solid #4267b2; }

.home {
  background-color: #f1f1f1;
  height: 650px; }
  .home .margin-top-150 {
    height: 150px; }

.formacao,
.experiencia,
.eventos,
.adicionais,
.contato {
  height: 650px;
  background-color: white;
  padding-top: 65px; }
  .formacao h2,
  .formacao h4,
  .experiencia h2,
  .experiencia h4,
  .eventos h2,
  .eventos h4,
  .adicionais h2,
  .adicionais h4,
  .contato h2,
  .contato h4 {
    font-family: "Poppins", sans-serif; }
  .formacao h2,
  .experiencia h2,
  .eventos h2,
  .adicionais h2,
  .contato h2 {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 2px dashed #4267b2;
    border-bottom: 1px dashed #4267b2;
    box-shadow: inset 0 -1px 0 0 #4267b2, inset 0 1px 0 0 #4267b2, 0 1px 0 0 #4267b2, 0 -1px 0 0 #4267b2; }
  .formacao .col-sm-6 .fundamental,
  .formacao .col-sm-6 .tecnico,
  .formacao .col-sm-6 .medio,
  .formacao .col-sm-6 .graduacao,
  .formacao .col-sm-6 .profissional,
  .formacao .col-sm-6 .conhecimentos,
  .experiencia .col-sm-6 .fundamental,
  .experiencia .col-sm-6 .tecnico,
  .experiencia .col-sm-6 .medio,
  .experiencia .col-sm-6 .graduacao,
  .experiencia .col-sm-6 .profissional,
  .experiencia .col-sm-6 .conhecimentos,
  .eventos .col-sm-6 .fundamental,
  .eventos .col-sm-6 .tecnico,
  .eventos .col-sm-6 .medio,
  .eventos .col-sm-6 .graduacao,
  .eventos .col-sm-6 .profissional,
  .eventos .col-sm-6 .conhecimentos,
  .adicionais .col-sm-6 .fundamental,
  .adicionais .col-sm-6 .tecnico,
  .adicionais .col-sm-6 .medio,
  .adicionais .col-sm-6 .graduacao,
  .adicionais .col-sm-6 .profissional,
  .adicionais .col-sm-6 .conhecimentos,
  .contato .col-sm-6 .fundamental,
  .contato .col-sm-6 .tecnico,
  .contato .col-sm-6 .medio,
  .contato .col-sm-6 .graduacao,
  .contato .col-sm-6 .profissional,
  .contato .col-sm-6 .conhecimentos {
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    border: solid 7px #4267b2;
    border-left-color: #4c9cef;
    border-right-color: #4c9cef;
    margin-top: 30px;
    min-height: 140px; }
    .formacao .col-sm-6 .fundamental h4,
    .formacao .col-sm-6 .tecnico h4,
    .formacao .col-sm-6 .medio h4,
    .formacao .col-sm-6 .graduacao h4,
    .formacao .col-sm-6 .profissional h4,
    .formacao .col-sm-6 .conhecimentos h4,
    .experiencia .col-sm-6 .fundamental h4,
    .experiencia .col-sm-6 .tecnico h4,
    .experiencia .col-sm-6 .medio h4,
    .experiencia .col-sm-6 .graduacao h4,
    .experiencia .col-sm-6 .profissional h4,
    .experiencia .col-sm-6 .conhecimentos h4,
    .eventos .col-sm-6 .fundamental h4,
    .eventos .col-sm-6 .tecnico h4,
    .eventos .col-sm-6 .medio h4,
    .eventos .col-sm-6 .graduacao h4,
    .eventos .col-sm-6 .profissional h4,
    .eventos .col-sm-6 .conhecimentos h4,
    .adicionais .col-sm-6 .fundamental h4,
    .adicionais .col-sm-6 .tecnico h4,
    .adicionais .col-sm-6 .medio h4,
    .adicionais .col-sm-6 .graduacao h4,
    .adicionais .col-sm-6 .profissional h4,
    .adicionais .col-sm-6 .conhecimentos h4,
    .contato .col-sm-6 .fundamental h4,
    .contato .col-sm-6 .tecnico h4,
    .contato .col-sm-6 .medio h4,
    .contato .col-sm-6 .graduacao h4,
    .contato .col-sm-6 .profissional h4,
    .contato .col-sm-6 .conhecimentos h4 {
      margin-left: 40px;
      margin-top: 20px;
      text-align: left;
      font-weight: bold; }
    .formacao .col-sm-6 .fundamental p,
    .formacao .col-sm-6 .tecnico p,
    .formacao .col-sm-6 .medio p,
    .formacao .col-sm-6 .graduacao p,
    .formacao .col-sm-6 .profissional p,
    .formacao .col-sm-6 .conhecimentos p,
    .experiencia .col-sm-6 .fundamental p,
    .experiencia .col-sm-6 .tecnico p,
    .experiencia .col-sm-6 .medio p,
    .experiencia .col-sm-6 .graduacao p,
    .experiencia .col-sm-6 .profissional p,
    .experiencia .col-sm-6 .conhecimentos p,
    .eventos .col-sm-6 .fundamental p,
    .eventos .col-sm-6 .tecnico p,
    .eventos .col-sm-6 .medio p,
    .eventos .col-sm-6 .graduacao p,
    .eventos .col-sm-6 .profissional p,
    .eventos .col-sm-6 .conhecimentos p,
    .adicionais .col-sm-6 .fundamental p,
    .adicionais .col-sm-6 .tecnico p,
    .adicionais .col-sm-6 .medio p,
    .adicionais .col-sm-6 .graduacao p,
    .adicionais .col-sm-6 .profissional p,
    .adicionais .col-sm-6 .conhecimentos p,
    .contato .col-sm-6 .fundamental p,
    .contato .col-sm-6 .tecnico p,
    .contato .col-sm-6 .medio p,
    .contato .col-sm-6 .graduacao p,
    .contato .col-sm-6 .profissional p,
    .contato .col-sm-6 .conhecimentos p {
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 5px; }

/*# sourceMappingURL=styles.css.map */
