@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: black; }

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #4c9cef;
  margin: 0px;
  padding: 0px; }
  .navbar ul li {
    float: left; }
  .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .navbar ul li a:hover:not(.active) {
    background-color: #4267b2; }

.profile {
  margin-top: 8px;
  text-align: center; }
  .profile img {
    border: 3px solid #4267b2; }

.home {
  background-color: #f1f1f1;
  min-height: 650px; }
  .home .margin-top-150 {
    height: 150px; }
  .home .table {
    margin-bottom: 0px;
    border: 3px solid #4267b2; }
    .home .table tbody tr td {
      border: 1px solid #4267b2; }
    .home .table tbody td:nth-child(1) {
      color: black; }
    .home .table tbody td:nth-child(2) {
      color: white;
      background: #4c9cef;
      font-weight: bold; }

.formacao,
.experiencia,
.eventos,
.adicionais,
.contato {
  min-height: 650px;
  background-color: white;
  padding-top: 65px; }
  .formacao h2,
  .formacao h4,
  .experiencia h2,
  .experiencia h4,
  .eventos h2,
  .eventos h4,
  .adicionais h2,
  .adicionais h4,
  .contato h2,
  .contato h4 {
    font-family: "Poppins", sans-serif; }
  .formacao h2,
  .experiencia h2,
  .eventos h2,
  .adicionais h2,
  .contato h2 {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 2px dashed #4267b2;
    border-bottom: 1px dashed #4267b2;
    box-shadow: inset 0 -1px 0 0 #4267b2, inset 0 1px 0 0 #4267b2, 0 1px 0 0 #4267b2, 0 -1px 0 0 #4267b2; }
  .formacao .fundamental,
  .formacao .tecnico,
  .formacao .medio,
  .formacao .graduacao,
  .experiencia .fundamental,
  .experiencia .tecnico,
  .experiencia .medio,
  .experiencia .graduacao,
  .eventos .fundamental,
  .eventos .tecnico,
  .eventos .medio,
  .eventos .graduacao,
  .adicionais .fundamental,
  .adicionais .tecnico,
  .adicionais .medio,
  .adicionais .graduacao,
  .contato .fundamental,
  .contato .tecnico,
  .contato .medio,
  .contato .graduacao {
    min-height: 125px; }
  .formacao .profissional,
  .formacao .conhecimentos,
  .formacao .adicional,
  .experiencia .profissional,
  .experiencia .conhecimentos,
  .experiencia .adicional,
  .eventos .profissional,
  .eventos .conhecimentos,
  .eventos .adicional,
  .adicionais .profissional,
  .adicionais .conhecimentos,
  .adicionais .adicional,
  .contato .profissional,
  .contato .conhecimentos,
  .contato .adicional {
    min-height: 175px; }
  .formacao .evento,
  .experiencia .evento,
  .eventos .evento,
  .adicionais .evento,
  .contato .evento {
    min-height: 275px; }
  .formacao .fundamental,
  .formacao .tecnico,
  .formacao .medio,
  .formacao .graduacao,
  .formacao .profissional,
  .formacao .conhecimentos,
  .formacao .adicional,
  .formacao .evento,
  .experiencia .fundamental,
  .experiencia .tecnico,
  .experiencia .medio,
  .experiencia .graduacao,
  .experiencia .profissional,
  .experiencia .conhecimentos,
  .experiencia .adicional,
  .experiencia .evento,
  .eventos .fundamental,
  .eventos .tecnico,
  .eventos .medio,
  .eventos .graduacao,
  .eventos .profissional,
  .eventos .conhecimentos,
  .eventos .adicional,
  .eventos .evento,
  .adicionais .fundamental,
  .adicionais .tecnico,
  .adicionais .medio,
  .adicionais .graduacao,
  .adicionais .profissional,
  .adicionais .conhecimentos,
  .adicionais .adicional,
  .adicionais .evento,
  .contato .fundamental,
  .contato .tecnico,
  .contato .medio,
  .contato .graduacao,
  .contato .profissional,
  .contato .conhecimentos,
  .contato .adicional,
  .contato .evento {
    border-top-left-radius: 255px 25px;
    border-top-right-radius: 25px 225px;
    border-bottom-right-radius: 225px 25px;
    border-bottom-left-radius: 25px 255px;
    border: solid 7px #4267b2;
    border-left-color: #4c9cef;
    border-right-color: #4c9cef;
    margin-top: 30px; }
    .formacao .fundamental h4,
    .formacao .tecnico h4,
    .formacao .medio h4,
    .formacao .graduacao h4,
    .formacao .profissional h4,
    .formacao .conhecimentos h4,
    .formacao .adicional h4,
    .formacao .evento h4,
    .experiencia .fundamental h4,
    .experiencia .tecnico h4,
    .experiencia .medio h4,
    .experiencia .graduacao h4,
    .experiencia .profissional h4,
    .experiencia .conhecimentos h4,
    .experiencia .adicional h4,
    .experiencia .evento h4,
    .eventos .fundamental h4,
    .eventos .tecnico h4,
    .eventos .medio h4,
    .eventos .graduacao h4,
    .eventos .profissional h4,
    .eventos .conhecimentos h4,
    .eventos .adicional h4,
    .eventos .evento h4,
    .adicionais .fundamental h4,
    .adicionais .tecnico h4,
    .adicionais .medio h4,
    .adicionais .graduacao h4,
    .adicionais .profissional h4,
    .adicionais .conhecimentos h4,
    .adicionais .adicional h4,
    .adicionais .evento h4,
    .contato .fundamental h4,
    .contato .tecnico h4,
    .contato .medio h4,
    .contato .graduacao h4,
    .contato .profissional h4,
    .contato .conhecimentos h4,
    .contato .adicional h4,
    .contato .evento h4 {
      margin-left: 40px;
      margin-top: 20px;
      text-align: left;
      font-weight: bold; }
    .formacao .fundamental p,
    .formacao .tecnico p,
    .formacao .medio p,
    .formacao .graduacao p,
    .formacao .profissional p,
    .formacao .conhecimentos p,
    .formacao .adicional p,
    .formacao .evento p,
    .experiencia .fundamental p,
    .experiencia .tecnico p,
    .experiencia .medio p,
    .experiencia .graduacao p,
    .experiencia .profissional p,
    .experiencia .conhecimentos p,
    .experiencia .adicional p,
    .experiencia .evento p,
    .eventos .fundamental p,
    .eventos .tecnico p,
    .eventos .medio p,
    .eventos .graduacao p,
    .eventos .profissional p,
    .eventos .conhecimentos p,
    .eventos .adicional p,
    .eventos .evento p,
    .adicionais .fundamental p,
    .adicionais .tecnico p,
    .adicionais .medio p,
    .adicionais .graduacao p,
    .adicionais .profissional p,
    .adicionais .conhecimentos p,
    .adicionais .adicional p,
    .adicionais .evento p,
    .contato .fundamental p,
    .contato .tecnico p,
    .contato .medio p,
    .contato .graduacao p,
    .contato .profissional p,
    .contato .conhecimentos p,
    .contato .adicional p,
    .contato .evento p {
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 15px;
      text-align: justify; }
    .formacao .fundamental ul,
    .formacao .tecnico ul,
    .formacao .medio ul,
    .formacao .graduacao ul,
    .formacao .profissional ul,
    .formacao .conhecimentos ul,
    .formacao .adicional ul,
    .formacao .evento ul,
    .experiencia .fundamental ul,
    .experiencia .tecnico ul,
    .experiencia .medio ul,
    .experiencia .graduacao ul,
    .experiencia .profissional ul,
    .experiencia .conhecimentos ul,
    .experiencia .adicional ul,
    .experiencia .evento ul,
    .eventos .fundamental ul,
    .eventos .tecnico ul,
    .eventos .medio ul,
    .eventos .graduacao ul,
    .eventos .profissional ul,
    .eventos .conhecimentos ul,
    .eventos .adicional ul,
    .eventos .evento ul,
    .adicionais .fundamental ul,
    .adicionais .tecnico ul,
    .adicionais .medio ul,
    .adicionais .graduacao ul,
    .adicionais .profissional ul,
    .adicionais .conhecimentos ul,
    .adicionais .adicional ul,
    .adicionais .evento ul,
    .contato .fundamental ul,
    .contato .tecnico ul,
    .contato .medio ul,
    .contato .graduacao ul,
    .contato .profissional ul,
    .contato .conhecimentos ul,
    .contato .adicional ul,
    .contato .evento ul {
      list-style-type: none; }

/*# sourceMappingURL=styles.css.map */
