<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Currículo Ronyan</title>

    <link rel="stylesheet" href="../public/CSS/reset.css">
    <link rel="stylesheet" href="../public/CSS/styles.css">
    <link rel="icon" href="../public/favicon.png" type="image/x-icon"/>
</head>
<body>
    <header>
        <nav class="top navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home">Currículo Ronyan</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;" role="button">
                    <ul class="nav navbar-nav">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#formacao">Formação</a></li>
                        <li><a href="#experiencia">Experiência</a></li>
                        <li><a href="#eventos">Eventos</a></li>
                        <li><a href="#adicionais">Adicionais</a></li>
                        <li><a href="#contato">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="home" id="home">
            <div class="container-fluid">
                <div class="margin-top">
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">

                    </div>

                    <div class="col-sm-5">
                        <table class="table">
                            <tr>
                                <td>Nome</td>
                                <td>Ronyan Lucietti</td>
                            </tr>
                            <tr>
                                <td>Nascimento</td>
                                <td>XX/XX/199X</td>
                            </tr>
                            <tr>
                                <td>Endereço</td>
                                <td>Rua nº, Cidade</td>
                                </tr>
                            <tr>
                                <td>Estado Civil</td>
                                <td>Estado Civil</td>
                            </tr>
                            <tr>
                                <td>Naturalidade</td>
                                <td>Naturalidade</td>
                            </tr>
                            <tr>
                                <td>Telefone</td>
                                <td>(XX) 5555-0001</td>
                            </tr>
                            <tr>
                                <td>Celular</td>
                                <td>(XX) 99999-0009</td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td>email@email.com</td>
                            </tr>
                        </table>                    
                    </div>
                    <div class="col-sm-3">
                        <div class="container-fluid">
                            <figure class="profile">
                                <img src="../public/profile.jpg" alt="profile imagem">
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-8">
                        <div class="container-fluid">
                            <div class="descricao">
                                <p>
                                Duo legimus inciderint reformidans id. Ad ludus intellegam constituam quo, 
                                modo error corpora et per, stet delicata his id. Cum eu quis mediocrem scriptorem, 
                                graeci detracto quaestio no sed, vel meis iusto ut. Ut sed idque moderatius, 
                                cu mei exerci recusabo, ne eripuit denique has.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>
            </div>
        </section>

        <section class="formacao" id="formacao">
            <div class="container-fluid">
                <h2>Formação</h2>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="fundamental">      
                            <div class="container-fluid"> 
                                <h4>Fundamental</h4>
                                <p>Formado no Centro Educacional e Proficional Lydio de Brida. Urussanga, SC, ano de 2006.</p>
                            </div>
                        </div>

                        <div class="tecnico">
                            <div class="container-fluid"> 
                                <h4>Técnico</h4>
                                <p>Formado em Informática Industrial no Colégio SATC. Criciúma, SC, 2010.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="medio">
                            <div class="container-fluid"> 
                                <h4>Médio</h4>
                                <p>Formado no Colégio SATC. Criciúma, SC, 2010.</p>
                            </div>
                        </div>
                        <div class="graduacao">
                            <div class="container-fluid"> 
                                <h4>Graduação</h4>
                                <p>Cursando Engenharia da Computação na Faculdade SATC. Criciúma, SC, concluindo curso em 2018.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Complementar</h3>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="complementar">
                            <div class="container-fluid">
                                <ul>
                                    <li>Nome 1</li>
                                    <li>Instituição 1</li>
                                    <li>10 horas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="complementar">
                            <div class="container-fluid">
                                <ul>
                                    <li>Nome 2</li>
                                    <li>Instituição 2</li>
                                    <li>20 horas</li>
                                </ul>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="complementar">
                            <div class="container-fluid">
                                <ul>
                                    <li>Nome 3</li>
                                    <li>Instituição 3</li>
                                    <li>30 horas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="complementar">
                            <div class="container-fluid">
                                <ul>
                                    <li>Nome 4</li>
                                    <li>Instituição 4</li>
                                    <li>40 horas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="experiencia" id="experiencia">
            <div class="container-fluid">
           
                <h2>Experiência</h2>
    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="empresa">
                            <div class="container-fluid">
                                <h4>Empresa 1</h4>
                                <ul>
                                    <li><strong>Cargo 1</strong></li>
                                    <li>01/2011 - 10/2011</li>
                                </ul>
                                <p>Dicat civibus atomorum vis eu, vel movet saperet scaevola et, 
                                        everti denique qui at. Odio putent eam ea, mel latine honestatis cu,
                                        pri summo nobis ei. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="empresa">
                            <div class="container-fluid">
                                <h4>Empresa 2</h4>
                                <ul>
                                    <li><strong>Cargo 2</strong></li>
                                    <li>02/2012 - 10/2012</li>
                                </ul>
                                <p>Dicat civibus atomorum vis eu, vel movet saperet scaevola et, 
                                        everti denique qui at. Odio putent eam ea, mel latine honestatis cu,
                                        pri summo nobis ei. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-6">
                        <div class="empresa">
                            <div class="container-fluid">
                                <h4>Empresa 3</h4>
                                <ul>
                                    <li><strong>Cargo 3</strong></li>
                                    <li>03/2013 - 10/2013</li>
                                </ul>
                                <p>Dicat civibus atomorum vis eu, vel movet saperet scaevola et, 
                                        everti denique qui at. Odio putent eam ea, mel latine honestatis cu,
                                        pri summo nobis ei. </p>
                            </div>
                        </div>
                    </div>        
                    <div class="col-sm-3">
                        
                    </div>            
                </div>
            </div>
        </section>    

        <section class="eventos" id="eventos">
            <div class="container-fluid">
                <h2>Eventos</h2>
              
                <div class="row">
                    <div class="col-sm-4">
                        <div class="evento">
                            <div class="container-fluid">
                                <h4>Evento 1</h4>
                                <p>
                                    At habeo deleniti mei, mollis rationibus at mel, ex facete bonorum offendit vis. 
                                    Eum ne graece deleniti. Sit at illum ignota minimum.
                                </p>
                                <ul>
                                    <li><strong>Organização:</strong> Organização 1</li>
                                    <li><strong>Local:</strong> Cidade 1</li>
                                    <li><strong>Data:</strong> 01/01/2011</li>
                                </ul>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="evento">
                            <div class="container-fluid">
                                <h4>Evento 2</h4>
                                <p>
                                    At habeo deleniti mei, mollis rationibus at mel, ex facete bonorum offendit vis. 
                                    Eum ne graece deleniti. Sit at illum ignota minimum.
                                </p>  
                                <ul>
                                    <li><strong>Organização:</strong> Organização 2</li>
                                    <li><strong>Local:</strong> Cidade 2</li>
                                    <li><strong>Data:</strong> 02/02/2012</li>
                                </ul>                          
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="evento">
                            <div class="container-fluid">
                                <h4>Evento 3</h4>
                                <p>
                                    At habeo deleniti mei, mollis rationibus at mel, ex facete bonorum offendit vis. 
                                    Eum ne graece deleniti. Sit at illum ignota minimum.
                                <ul>
                                    <li><strong>Organização:</strong> Organização 3</li>
                                    <li><strong>Local:</strong> Cidade 3</li>
                                    <li><strong>Data:</strong> 03/03/2013</li>
                                </ul>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-4">
                        <div class="evento">
                            <div class="container-fluid">
                                <h4>Evento 4</h4>
                                <p>
                                    At habeo deleniti mei, mollis rationibus at mel, ex facete bonorum offendit vis. 
                                    Eum ne graece deleniti. Sit at illum ignota minimum.
                                <ul>
                                    <li><strong>Organização:</strong> Organização 4</li>
                                    <li><strong>Local:</strong> Cidade 4</li>
                                    <li><strong>Data:</strong> 04/04/2014</li>
                                </ul>    
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="evento">
                            <div class="container-fluid">
                                <h4>Evento 5</h4>
                                <p>
                                    At habeo deleniti mei, mollis rationibus at mel, ex facete bonorum offendit vis. 
                                    Eum ne graece deleniti. Sit at illum ignota minimum.
                                <ul>
                                    <li><strong>Organização:</strong> Organização 5</li>
                                    <li><strong>Local:</strong> Cidade 5</li>
                                    <li><strong>Data:</strong> 05/05/2015</li>
                                </ul>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>
            </div>
        </section>

        <section class="adicionais" id="adicionais">
            <div class="container-fluid">
                <h2>Informações Adicionais</h2>
                
                <div class="row">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-7">
                        <div class="adicional">
                            <div class="container-fluid">
                                <h4>Competências</h4>
                                <h5>Competência 1</h5>
                                <p>Curabitur aliquet commodo libero eu vestibulum. Quisque suscipit vulputate dolor, 
                                    sed pellentesque nulla gravida varius. Fusce vitae sem id quam
                                    pulvinar scelerisque. 
                                </p>
                                <h5>Competência 2</h5>
                                <p>Curabitur aliquet commodo libero eu vestibulum. Quisque suscipit vulputate dolor, 
                                    sed pellentesque nulla gravida varius. Fusce vitae sem id quam
                                    pulvinar scelerisque.
                                </p>
                                <h5>Competência 3</h5>
                                <p>Curabitur aliquet commodo libero eu vestibulum. Quisque suscipit vulputate dolor, 
                                    sed pellentesque nulla gravida varius. Fusce vitae sem id quam
                                    pulvinar scelerisque.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="adicional">
                            <div class="container-fluid">
                                <h4>Viagens</h4>
                                <ul>
                                    <li>Disponibilidade para Viajar: <strong>Sim</strong></li>
                                    <li>Carteira de Motorista: <strong>AB</strong></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="margin-idioma">
                        </div>
                    
                        <div class="adicional">
                            <div class="container-fluid">
                                <h4>Idiomas</h4>
                                <ul>
                                    <li>Idioma 1: <strong>Fluênte</strong></li>
                                    <li>Idioma 2: <strong>Fluênte</strong></li>
                                    <li>Idioma 3: <strong>Fluênte</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-1">
  
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-10">
                        <div class="cotainer-fluid">
                            <div class="adicional">
                                <h4>Objetivo Profissional</h4>
                                <p>Nunc dolor nulla, tempus quis nibh quis, rutrum luctus augue. Suspendisse 
                                    fermentum mauris quis interdum aliquam. Nulla a ligula egestas, pharetra lorem at, 
                                    tincidunt magna. Vestibulum urna libero, aliquet ut urna sed, fermentum euismod eros. 
                                    Vestibulum vitae neque ac est condimentum sollicitudin.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                  
                    </div>
                </div>
            </div>
        </section>    

        <section class="contato" id="contato">
            <div class="container-fluid">
                <h2>Contato</h2>
                <div class="row">
                    <div class="col-sm-4">
                    </div>

                    <div class="col-sm-4 formulario">
                        <form class="form"  id="send_email" >
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="nome">Nome</label>
                                    <input id="nome" name="nome" type="text" class="form-control" placeholder="Nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="telefone">Telefone</label>
                                    <input id="fone" name="telefone" type="tel" class="form-control" placeholder="Telefone" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="email">Email</label>
                                    <input id="email" name="email" type="email" class="form-control" placeholder="email@email.com" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="texto">Mensagem</label>
                                    <textarea id="content" name="texto" class="form-control" placeholder="Mensagem" rows="4" required></textarea>
                                </div>
                            </div>
                            <div class="botao">
                                <button class="enviar" type="submit">Enviar</button>
                            </div>

                            <div id="alerta1" class="alert alert-success alert-dismissable fade show">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                Email enviado.
                            </div>
                            
                        </form>
                    </div>

                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </section>    
    </main>
    <footer>

    </footer>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            
            var from,to,subject,text;
            $("#send_email").submit(function(){      
                nome=$("#nome").val();
                subject= 'Email Curriculo - ' + $("#nome").val();
                text='Nome: '+ $("#nome").val() + '\n' + 'Email: ' + $("#email").val() + '\n' + 
                'Telefone: '+ $("#fone").val() + '\n' + '\n'+ $('#content').val();
                from= $("#email").val();
                
                alert("Email enviado!");
                $.get("/send",{from:from,subject:subject,text:text},function(data){
                });
            });
        });
    </script>

</body>
</html>