@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');

$fontPadrao: 'Roboto', sans-serif;
$fontTitulo: 'Poppins', sans-serif;


$colorElements: #4c9cef;
$colorNavHover: #4267b2;
$colorFontPadrao: black;
$colorFontFundo: white; 
$colorEvenFundo: white;
$colorOddFundo: #f1f1f1;
$colorBorder: #4267b2;

$pageSize: 650px;
$paddingBoot: 40px;

$borderPrimary: 3px solid  $colorBorder;
$borderSecondary: 1px solid  $colorBorder;

$boxMarginTitleTop: 20px;
$boxMarginTitleLeft: 40px;
$boxMarginTextLeft: 40px;
$boxMarginTextRight: 40px;
$boxMarginTextBot: 15px;
$boxHeightSmall: 125px;
$boxHeightBig: 175px;
$boxHeightGiga: 175px;

body {
    height: 100%;
    font-family: $fontPadrao;
    color: $colorFontPadrao;
}

.margin-idioma{
    margin-top: 70px;
}

.navbar {
    ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #f8f8f8; 
    margin: 0px;
    padding: 0px;
    font-weight: bold;
     
        li a {
            display: block;
            color: $colorFontFundo;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover:not(.active) {
            background-color: $colorElements;
        }
    }
}

.profile{
    margin-top: 8px;
    text-align: center;
    
    img{
        border: $borderPrimary;
    }
}

.home{
    min-height: $pageSize;

    .margin-top {
        height: 125px;
    }

    .table {
        margin-bottom: 0px;
        border: $borderPrimary;

        tbody{
            tr{
                td{
                    border: $borderSecondary;
                }
            }

            td:nth-child(1) {
                color: $colorFontPadrao;
            }

            td:nth-child(2) {
                color: $colorFontFundo;
                background: $colorElements;
                font-weight: bold;
            }
        }
    }
    .descricao{
        border-top-left-radius: 255px 25px;
        border-top-right-radius: 25px 225px;
        border-bottom-right-radius: 225px 25px;
        border-bottom-left-radius: 25px 255px;
    
        border: solid 7px $colorBorder;
        border-left-color: $colorElements;
        border-right-color: $colorElements;

        margin-top: 30px;
        min-height: $boxHeightSmall;
    
        p{
            padding-top: 20px;
            margin-left: $boxMarginTextLeft;
            margin-right: $boxMarginTextRight;
            margin-bottom: $boxMarginTextBot;
            text-align: justify;
        } 
    }
}

.formacao,
.experiencia,
.eventos,
.adicionais,
.contato
{
    min-height: $pageSize;
    padding-top: $paddingBoot;

    h2,
    h3,
    h4{
        font-family: $fontTitulo;
    }

    h3{
        text-align: center;
        font-weight: bold;
        margin-bottom: 0px;
    }

    h2{
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 4px solid $colorBorder;
    }

    .fundamental,
    .tecnico,
    .medio,
    .graduacao
    {
        min-height: $boxHeightSmall;
    }

    .evento{
        min-height: $boxHeightGiga;
    }    
    
    .fundamental,
    .tecnico,
    .medio,
    .graduacao,
    .complementar,
    .evento,
    .empresa,
    .competencia,
    .adicional,
    .formulario{
        border-top-left-radius: 255px 25px;
        border-top-right-radius: 25px 225px;
        border-bottom-right-radius: 225px 25px;
        border-bottom-left-radius: 25px 255px;
    
        border: solid 7px $colorBorder;
        border-left-color: $colorElements;
        border-right-color: $colorElements;

        margin-top: 30px;

        h4,
        h5{
            margin-left: $boxMarginTitleLeft;
            margin-top: $boxMarginTitleTop;
            text-align: left;
            font-weight: bold;
        }
    
        p{
            margin-left: $boxMarginTextLeft;
            margin-right: $boxMarginTextRight;
            margin-bottom: $boxMarginTextBot;
            text-align: justify;
        }      
        
        ul{
            list-style-type: none;
            margin-left: $boxMarginTextLeft;
        }
    }

    .complementar{
        ul{
            margin-top: $boxMarginTitleTop;
            margin-left: $boxMarginTextLeft;
        }
    }
}

.home,
.experiencia,
.adicionais{
    background-color: $colorOddFundo;
}

.formacao,
.eventos,
.contato{
    background-color: $colorEvenFundo;
}

.botao{
    display: flex;
    justify-content: center;  
    padding-top: 4px;
}

.enviar {
    background-color: $colorElements;
    border: none;
    color: $colorFontFundo;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20%;
}

.form{
    margin: 20px;
}

.alert{
    display: none;
}